body{
  background-image: url("/src/wp2763763.gif")
}

.Container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items: stretch;
  background-image: url("/src/wp2763763.gif")
}
.animated-gif{
  width:auto;
  height:180px;
}